body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-display: fallback !important;
  font-size: 16px;
  background: #061f4a;
  color: white;
}

/* 
https://source.unsplash.com/lfyKGQWEbew
https://source.unsplash.com/PRne5FNBRmk
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: #ccc;
  position: relative;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  letter-spacing: 17.5px;
}

.hero-one {
  top: 0;
  position: absolute;
  width: 60%;
  background-color: black;
  height: 100vh;
  clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://i.ibb.co/61WkkNt/Whats-App-Image-2021-12-14-at-11-18-33-PM.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-two {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  background-color: green;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url(https://64.media.tumblr.com/3d4d824f109c46f280047f2a94135c27/tumblr_nlptn4t5Ug1relaado1_400.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-title {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.header-primary {
  font-size: 2em;
  display: block;
  font-weight: 700;
  /* width:20%; */
  width: 100%;
  /* max-width: ; */
}

.header-primary img {
  width: 100%;
  max-width: 931px;
}

.header-sub {
  display: block;
}

.header-sub-online {
  margin-top: 4rem;
  font-size: 15px;
}

.header-btn {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0px 15px;
  color: white;
  font-weight: 700;
}
hr {
  border-width: 20px;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 31px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 16px;
}
.lead {
  font-size: 20px;
}
a {
  color: white;
  transition: 0.3s color;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #613d91;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-btn {
  display: inline-block;
  padding: 16px 30px;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  color: #fff;
  border: none;
  border-radius: 7px;
  box-shadow: 0 3px 5px -3px black;
  transition: 0.3s all;
}
.main-btn:hover,
.main-btn:focus {
  color: #fff;
  background: linear-gradient(to right, #ff3260, #ff3e1c);
  transform: scale(1.01);
}
.input {
  height: 40px;
  width: 100%;
  border: 2px solid #dadada;
  padding: 0px 15px;
  border-radius: 2px;
  transition: 0.3s border;
}
textarea.input {
  height: 90px;
  padding: 15px;
}
.input:focus {
  border-color: #613d91;
}
.swal2-icon.swal2-info {
  border-color: #bd0c10 !important;
  color: #bd0c10 !important;
}
.swal2-popup .swal2-styled.swal2-confirm {
  background-color: #bd0c10 !important;
  border-radius: 10px !important;
}
.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}
.swal2-popup {
  width: 55em !important;
}
h2.swal2-title h2 {
  margin: 0 !important;
}
div#swal2-content h5 {
  margin-bottom: 2rem !important;
}
div#swal2-content ol {
  text-align: left !important;
}
div#swal2-content ol li {
  margin-bottom: 0.5rem !important;
}
.waves-effect {
  border-radius: 10px !important;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  color: #fff !important;
}
.section {
  position: relative;
  padding: 45px 0px;
}
.section-bg {
  position: absolute;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-radius: 20px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  z-index: -1;
}
.section-title {
  text-align: center;
  margin-bottom: 40px;
}
.section-title .title {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 52px;
  font-size: 42px;
  overflow: hidden;
}
.section-title .title > span {
  transform: translateY(100%);
  display: inline-block;
  z-index: 10;
  transition: 0.6s;
}
.section-title .title > span.appear {
  transform: translateY(0%);
}
.section-subtitle {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}
.section-subtitle .title {
  text-decoration: none;
}
.navbar-brand {
  padding: 0;
  margin: 15px 0px;
}
.navbar-brand .logo {
  display: inline-block;
}
.navbar-brand .logo > img {
  max-height: 50px;
}
@media only screen and (max-width: 991px) {
  .navbar-brand {
    margin: 15px 10px;
  }
  .navbar-brand .logo > img {
    max-height: 50px;
    width: auto;
  }
}
#header.transparent-navbar:not(.fixed-navbar) .navbar-brand .logo .logo-img {
  display: none;
}
#header.fixed-navbar .navbar-brand .logo .logo-alt-img {
  display: none;
}
#header:not(.transparent-navbar) .navbar-brand .logo .logo-alt-img {
  display: none;
}
#header {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #0000001a;
  z-index: 80;
  transition: 0.3s all;
}
#header.transparent-navbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: transparent;
  backdrop-filter: blur(3px);
  border-bottom: 1px solid #dadada30;
}
#header.fixed-navbar {
  position: fixed !important;
  left: 0;
  right: 0;
  top: 0;
  background-color: black;
  box-shadow: 0px 0px 3px #0003;
  border-bottom: none;
  animation: slide-in 0.3s;
}
@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
.text-center {
  text-align: center;
}
.main-nav li a {
  position: relative;
  padding: 30px 15px;
  color: white;
  letter-spacing: 1.4px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s all;
}
.hidden {
  display: none;
}
#header.transparent-navbar .main-nav li a {
  color: #fff;
}
#header.fixed-navbar .main-nav li a {
  color: white;
}
.main-nav li.active a:after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -3px;
  width: 100%;
  left: 0;
  background: #613d91;
}
.main-nav li a:hover,
.main-nav li a:focus {
  background-color: transparent;
  color: #613d91;
}
#header.transparent-navbar .main-nav li a:hover {
  color: #613d91;
}
#header.fixed-navbar .main-nav li a:hover {
  color: #613d91;
}
.navbar-toggle .menu-icon {
  position: absolute;
  right: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
  transform: scale(1.5);
}
#header.transparent-navbar .navbar-toggle {
  color: #fff;
}
#header.fixed-navbar .navbar-toggle {
  color: white !important;
}
@media only screen and (max-width: 991px) {
  .main-nav {
    margin: 0px -15px;
    max-height: 0;
    overflow-y: scroll;
    /* background-color: rgb(86, 19, 196); */
    transition: 0.3s all;
  }
  .main-nav.open {
    max-height: 500px;
  }
  .main-nav li.active a:after {
    display: none;
  }
  #header.transparent-navbar .main-nav li a {
    color: white;
    background-color: black;
  }
  .main-nav li a:hover,
  .main-nav li a:focus,
  .main-nav li.active a {
    background-color: #613d91;
    color: #fff !important;
  }
  .navbar-toggle {
    display: block;
    margin: 15px;
  }
  .navbar-brand {
    margin: 15px;
  }
}
#home {
  position: relative;
  margin-bottom: 45px;
}
#home .home-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-40%);
  margin-bottom: 5rem;
}
.home-content {
  width: 60vw;
  top: 50%;
  left: 18%;
  width: 65%;
  border-radius: 25px;
}
.home-content h1 {
  text-transform: capitalize;
  font-weight: 900;
  color: #fff;
}
.home-content h4 {
  color: #fff;
}
.home-content button {
  position: relative;
}
#page-wrapper {
  background-color: #f9f9fa;
}
.page-wrapper-content {
  text-align: center;
}
#hackathon__dates {
  box-shadow: 2px 2px #5d5d5d;
  font-size: 20px;
  color: #613d91;
  font-weight: 600;
  border: 0.5px solid #5d5d5d;
  border-radius: 7px;
  padding: 10px;
}
#numbers {
  margin-top: 60px;
}
.number {
  margin-bottom: 30px;
}
.number h3 {
  font-size: 42px;
  margin-bottom: 0px;
  color: #613d91;
}
.number p {
  text-transform: uppercase;
  color: white;
}
.atlastmoment {
  font-size: 25px;
}
.college img:first-child {
  transform: scale(0.95);
}
.college img {
  margin: 10px 20px;
}
#galery-owl .owl-item .galery-item {
  opacity: 0.5;
  transform: scale(0.9);
  transform-origin: 100% 100%;
  transition: 0.6s transform, 0.6s opacity;
}
#galery-owl.owl-theme .owl-item.active + .owl-item .galery-item {
  transform-origin: 0% 100%;
}
#galery-owl.owl-theme .owl-item.active .galery-item {
  opacity: 1;
  transform: scale(1);
}
#galery-owl.owl-theme .owl-nav [class*="owl-"] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: #613d91;
  width: 90px;
  height: 90px;
  line-height: 90px;
  font-size: 40px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}
#galery-owl.owl-theme .owl-prev {
  left: 2%;
}
#galery-owl.owl-theme .owl-next {
  right: 2%;
}
#speakers {
  background-color: #f9f9fa;
}
.speaker {
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
}
@media (min-width: 600px) {
  #abtrow {
    display: flex;
    flex-direction: row;
  }
  #abtrow div {
    margin: 2rem;
  }
  #abtrow img {
    margin-top: 20rem;
  }
}
.schedule_sec a {
  background: #fd264f;
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 1em;
  margin: 0;
  padding: 5px 110px;
  position: fixed;
  top: 20px;
  right: -100px;
  text-align: center;
  text-decoration: none;
  transform: rotate(45deg);
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden;
}

.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
  color: #efedef;
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1em;
  padding: 2rem 0;
  text-align: center;
}

.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tabs [class^="tab"] [type="radio"]:hover,
.tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
  border-bottom: 2px solid #f700ff;
}

.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
  border-bottom: 3px solid #f700ff;
}

.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
  opacity: 1;
}

.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tabs .tab-2 {
  width: 33.3%;
}

.tabs .tab-2 [type="radio"] + div {
  width: 300%;
  margin-left: 300%;
}

.tabs .tab-2 [type="radio"]:checked + div {
  margin-left: 0;
}

.tabs .tab-2:nth-child(2) [type="radio"] + div {
  margin-left: 200%;
}

.tabs .tab-2:nth-child(2) [type="radio"]:checked + div {
  margin-left: -100%;
}

.tabs .tab-2:last-child [type="radio"] + div {
  margin-left: 100%;
}

.tabs .tab-2:last-child [type="radio"]:checked + div {
  margin-left: -200%;
}

.schedule_sec .container {
  width: 90%;
  justify-content: center;
  display: flex;
}

.schedule_sec .content {
  flex-basis: 60%;
}

.schedule_sec .time2 {
  flex-basis: 20%;
}

.tab-2 div div {
  border-bottom: 0.3px solid #fff;
}
.schedule_sec .time2 {
  color: #8b3af5;
}
.schedule_sec .time {
  color: #8b3af5;
}

#g1 svg {
  margin-left: -20rem;
  background: rgba(227, 0, 171, 0.7);
  filter: blur(200px);
}
.gradient svg {
  background: rgba(227, 0, 171, 0.7);
  filter: blur(200px);
}

@media (min-width: 1008px) {
  .gradient svg {
    margin-left: 65%;
  }
  #faq {
    /* padding: 1rem; */
  }
  #faq {
    /* margin-left: 24rem; */
    max-width: 1028px;
    min-height: 608px;
    margin: 0 auto;
    margin-top: -50rem;
  }
}
@media (max-width: 1008px) {
  #faq {
    width: 94%;
    margin: 0 auto;
    margin-top: -60rem;
    /* margin-left: 7%; */
  }
}
@media (max-width: 600px) {
  #D-Sponsors,
  #P-Sponsors {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  #faq {
    /* margin-top: 40%; */
  }
}
#faq {
  /* Rectangle 1 */
  /* position: absolute; */
  overflow: hidden;

  background: linear-gradient(
    152.97deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(42px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 15px;
}
.profile {
  background-color: #1d1d22;
  min-height: 50vh;
  height: 400px;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.profile .image-section {
  margin: 0;
  height: 100%;
  flex: 1 1 auto;
}
.profile .content {
  width: 60%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  text-overflow: ellipsis;
}
.profile .content-body {
  color: #ddd !important;
}
.profile .title {
  color: #ddd;
}
.profile_image {
  height: 100%;
  width: 100%;
}
#profile-owl.owl-item .profile-item {
  opacity: 0.5;
  transform: scale(0.9);
  transform-origin: 100% 100%;
  transition: 0.6s transform, 0.6s opacity;
}
#profile-owl.owl-theme .owl-item.active + .owl-item .profile-item {
  transform-origin: 0% 100%;
}
#profile-owl.owl-theme .owl-item.active .profile-item {
  opacity: 1;
  transform: scale(1);
}
#profile-owl.owl-theme .owl-nav [class*="owl-"] {
  font-size: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  width: 80px;
}
#profile-owl.owl-theme .owl-prev {
  opacity: 0.5;
  left: -10%;
}
#profile-owl.owl-theme .owl-prev:hover {
  opacity: 1;
}
#profile-owl.owl-theme .owl-next {
  opacity: 0.5;
  right: -10%;
}
#profile-owl.owl-theme .owl-next:hover {
  opacity: 1;
}
.event {
  position: relative;
}
.event + .event {
  margin-top: 60px;
}
.event:after {
  content: "";
  position: absolute;
  left: 60px;
  top: 0px;
  bottom: 0px;
  width: 4px;
  background-color: #613d91;
}
.event:last-child:after {
  height: 60px;
}
.event + .event:before {
  content: "";
  position: absolute;
  left: 60px;
  height: 60px;
  top: -60px;
  width: 4px;
  background-color: #613d91;
}
.event .event-day {
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #613d91;
  z-index: 10;
}
.event .event-hour {
  position: absolute;
  left: 62px;
  top: 60px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #613d91;
  z-index: 10;
  transform: translateX(-50%);
}
.event .event-day > div {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
}
.event .event-day .day {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}
.event .event-day .year {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
.event .event-content {
  padding-left: 160px;
  min-height: 120px;
}
.event .event-time {
  font-size: 14px;
}
.event .event-time i {
  color: #613d91;
}
.event .event-content a {
  color: #613d91;
}
.download-btn {
  margin-top: 60px;
  text-align: center;
}
#TopicTab {
  background: #eee;
  border-radius: 5px;
}

.nav-justified .nav-item {
  text-align: left !important;
}

.nav-pills .nav-link {
  border-radius: 0px;
  padding: 20px 30px;
  transition: all 0.45s ease;
}

.nav-pills .nav-link.active {
  background: #ff007a;
  border-radius: 8px;
  position: relative;
}

.nav-pills .nav-link.active h2 {
  color: #ffffff;
}

.nav-pills .nav-link.active h5 {
  color: #ffffff;
}

.nav-pills .nav-link.active:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 20px 0;
  border-color: #000 transparent transparent;
  content: "";
  position: absolute;
  bottom: -18px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: 0.3s;
  left: 80px;
  margin: auto;
  z-index: -1;
  border-color: #ff007a transparent transparent;
}

.time-table .time {
  flex-basis: 20%;
}

.time-table .content {
  flex-basis: 60%;
}

.time-table .content-img {
  flex-basis: 20%;
}

.time-table .content-img img {
  border-radius: 100%;
}

@media screen {
  .time-table .content-img img {
    width: 100px;
  }
}

.time-table li {
  box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.1);
}

.text-color-2 {
  color: #4125dd;
}
.sponsor {
  display: block;
  margin-bottom: 10px;
  transition: 0.3s all;
  text-align: center;
  padding: 35px;
}
.sponsor:hover {
  opacity: 1;
  transform: scale(1.1);
}
.sponsor > img {
  width: 35vw;
  height: auto;
}
.home-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
img.img-responsive {
  float: right;
  height: 40rem;
  margin-bottom: 30rem;
  z-index: -1;
}
img.img-responsive.img-vector {
  float: left;
  margin-top: 4rem;
  height: auto;
  margin-bottom: 0;
}

img.img-bg {
  float: left;
  height: 30rem;
  position: absolute;
  top: 18%;
  z-index: -1;
}
div.home-content {
  background-color: white;
  position: absolute;
  padding: 15px;
  width: 65%;
  margin: 0;
  top: 40%;
  box-shadow: 0 5px 10px #ddd;
  border-radius: 25px;
}

#devfolio-apply-now1:not([disabled]) {
  cursor: pointer;
  outline: none;
}
#devfolio-apply-now1:hover {
  background-color: #613d91;
}
#devfolio-apply-now1 .logo {
  fill: white;
}
#devfolio-apply-now2 .logo {
  fill: white;
}
#devfolio-apply-now2 {
  align-items: center;
  background: #613d91;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
}
#devfolio-apply-now2:not([disabled]) {
  cursor: pointer;
}
#devfolio-apply-now2:hover {
  background-color: #613d91;
}
#slackBtn {
  background-color: #613d91;
  color: white;
  border-radius: 5px;
  border: none;
  height: 40px;
  width: 200px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  outline: none;
}
#slackBtn:hover {
  background-color: #613d91;
}
.tracks .col-xs-6 {
  padding: 20px;
  transition: all 0.2s;
  text-align: center;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}
.tracks h3 {
  color: #613d91;
  text-decoration: underline;
}
.tracks .col-xs-6:hover {
  box-shadow: 0 5px 10px #eee;
}
.tracks img {
  max-height: 200px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 13rem;
  height: auto;
}
.tracks p {
  margin-top: 20px;
}
.codeofconduct a {
  margin-left: 45%;
}
.testimonials .container {
  width: 80%;
  display: flex;
  justify-content: center;
}
.testimonials .row {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
#test {
  /* border: 1px solid purple; */
  padding: 5%;
  line-height: 3rem;
  background: linear-gradient(
    152.97deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 15px;
  width: 420px;
  margin: 15px;
}
/* #test
{
    margin: 1rem;
} */
@media (max-width: 768px) {
  #become-sponsor .dotted-line {
    margin-left: -700px !important;
  }
}
#become-sponsor .dotted-line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1500px !important;
  padding: 0;
  z-index: -55;
  max-height: 800px !important;
}
.reason-text {
  display: inline;
}
.select-wrapper + label {
  font-size: 1rem !important;
}
.input-field label {
  width: 100%;
  text-align: left;
}
.add-member {
  margin: 20px;
}
.resume {
  top: 0px !important;
}
.mode {
  position: relative !important;
}
@media (min-width: 768px) {
  #contact.section {
    margin-top: 5rem;
    margin-bottom: -350px;
  }
}
@media (max-width: 768px) {
  #contact.section {
    margin-top: 1rem;
    margin-bottom: -350px;
  }
}
#contact.section {
  text-align: center;
  padding-bottom: 0px;
}
.contact {
  text-align: center;
  margin-bottom: 30px;
}
.contact h3 {
  color: #613d91;
}
.map {
  height: 380px;
  margin-top: 60px;
  width: 100%;
}
.map iframe {
  height: 380px;
  width: 100%;
}
.cta-content h2 {
  font-size: 42px;
  color: #fff;
  text-transform: capitalize;
}
.cta-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta-content p {
  color: #fff;
}
.cta-content .video-play {
  display: inline-block;
  height: 120px;
  width: 120px;
  margin: 0px auto 60px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 120px;
  font-size: 42px;
  color: #613d91;
  cursor: pointer;
}
.material-icons {
  transition: transform 100ms ease;
}
.material-icons.active {
  transform: rotate(90deg);
}
#footer {
  padding: 60px 0px;
}
.footer-brand {
  text-align: center;
}
.footer-brand .logo > img {
  max-height: 50px;
}
.copyright,
.coc {
  text-align: center;
  margin-top: 10px;
}
.contact-social {
  text-align: right;
  margin: 10px 0px;
}
.contact-social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 40%;
  background: #222222;
  color: #ddd;
  line-height: 40px;
  margin-right: 15px;
  transition: 0.3s all;
}
.contact-social a:hover {
  background: #000;
  color: #fff;
}
.blog {
  position: relative;
}
.blog + .blog {
  margin-top: 60px;
}
.blog:last-child {
  margin-bottom: 60px;
}
.blog .blog-img {
  margin-bottom: 30px;
}
.blog .blog-img > img {
  width: 100%;
}
.blog .blog-meta {
  margin-bottom: 30px;
  font-size: 12px;
  text-transform: uppercase;
}
.blog .blog-meta .blog-day {
  display: inline-block;
  margin-right: 15px;
}
.blog .blog-meta .blog-tags {
  display: inline-block;
  text-transform: uppercase;
}
.blog .blog-meta .blog-tags li {
  display: inline-block;
  margin-right: 5px;
}
.blog .blog-meta .blog-tags li:first-child {
  font-weight: 700;
  color: white;
}
.blog .blog-content .read-more {
  display: inline-block;
  padding: 7px 14px;
  background: #613d91;
  color: #fff;
  text-transform: uppercase;
  border-radius: 2px;
  margin-top: 15px;
  transition: 0.3s all;
}
.blog .blog-content .read-more:hover,
.blog .blog-content .read-more:focus {
  opacity: 0.8;
  color: #fff;
}
.blog .blog-share {
  margin: 30px 0px 60px;
}
.blog .blog-share li {
  display: inline-block;
  margin-right: 5px;
}
.blog .blog-share li:first-child {
  line-height: 30px;
  font-weight: 700;
  color: white;
}
.blog .blog-share li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #613d91;
  color: #fff;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  transition: 0.3s opacity;
}
.blog-share li a:hover {
  opacity: 0.8;
}
.blog .blog-comments .media {
  margin-top: 30px;
}
.blog .blog-comments .media .media-left {
  padding-right: 30px;
}
.blog .blog-comments .media .media-left .media-object {
  width: 90px;
  border-radius: 50%;
}
.blog .blog-comments .media .media-heading {
  margin-bottom: 30px;
}
.blog .blog-comments .media .media-heading h4 {
  margin-bottom: 10px;
}
.blog .blog-comments .media .media-heading .date {
  font-size: 12px;
}
.blog .blog-comments .media .media-heading .reply-btn {
  margin-left: 10px;
  color: #613d91;
}
.blog .blog-reply {
  margin-top: 60px;
}
.blog .blog-reply form {
  margin-top: 30px;
}
.blog .blog-reply form .form-group {
  margin-bottom: 30px;
}
@media only screen and (max-width: 991px) {
  div.home-content {
    left: auto;
  }
  .contact-social {
    text-align: center;
  }
  .copyright {
    display: block;
    text-align: center;
  }
  div.container {
    background: none;
    display: flex;
    flex-direction: column;
  }
  img.img-responsive {
    margin-left: auto;
    margin-right: auto;
    width: 60rem;
    height: auto;
    margin-bottom: 0;
  }
  img.img-bg {
    display: none;
  }
  img.img-responsive.img-vector {
    display: none;
  }
  div.home-content {
    position: relative;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .home-content h1 {
    font-size: 31px;
  }
  .page-wrapper-content h1 {
    font-size: 31px;
  }
  .event .event-day {
    width: 90px;
    height: 90px;
  }
  .event .event-content {
    padding-left: 115px;
  }
  .event .event-day .day {
    font-size: 31px;
    line-height: 31px;
  }
  .event .event-hour {
    left: 47px;
  }
  .event:after {
    left: 45px;
  }
  .event + .event:before {
    left: 45px;
  }
  #devfolio-apply-now2 {
    align-items: center;
    background: #613d91;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px;
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  [class*="col-xs"] {
    width: 100%;
  }
  #devfolio-apply-now2 {
    align-items: center;
    background: #613d91;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px;
    text-align: center;
  }
}

.blue-button {
  display: inline-block;
  font-family: Whitney, "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
  height: 45px;
  width: 55px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 0 !important;
}

.blue-button {
  background-color: white;
  border: 2px solid #7289da;
  color: #fff;
}
.vid {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  /* background-color: rgb(51, 51, 51); */
  background: transparent;
  overflow: hidden;
}

.play-button {
  width: 152px;
  height: 152px;
  position: relative;
  cursor: pointer;
}

.play-backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
}

.play-close {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: calc(100% + 15px);
  border: none;
  outline: none;
  background: none;
  opacity: 0;
  cursor: pointer;
}

.play-close::before,
.play-close::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(45deg);
  background-color: #fff;
}

.play-close::after {
  transform: rotate(-45deg);
}

.play-circles {
  display: block;
  width: 100%;
  height: 100%;
}

.play-perspective {
  /* width: 95%;
    height: 100%; */
  width: 600px;
  height: 400px;
  position: absolute;
  left: -230px;
  top: -125px;
}
video {
  background: black;
}
.play-triangle {
  /* width: 100%;
    height: 100%; */
  width: 152px;
  height: 100%;
  position: absolute;
  background-color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 578px) {
  .vid {
    width: 90%;
    margin: 0 auto;
    padding: 5%;
  }
}

.hackathon__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.schedule_sec .h1 {
  font-size: 2.5rem;
}

@media (max-width: 495px) {
  .header-sub {
    font-size: 16px;
    letter-spacing: 7px;
  }
}

.header-btn {
  margin: 30px auto;
}

@media (max-width: 991px) {
  #mlh-trust-badge {
    left: 5%;
  }
  .navbar-brand {
    margin-left: 21%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1044px) {
  .main-nav li a {
    padding: 30px 5px;
  }
  .main-nav {
    margin-right: 7%;
  }
}

.ribbon {
  width: 40%;
  height: auto;
  margin: 10px auto 0px;
  position: relative;
  color: #fff;
  font: 20px/50px sans-serif;
  text-align: center;
  background: #3d79d0;
  margin-bottom: 50px;
  -webkit-animation: main 250ms;
  -moz-animation: main 250ms;
  -ms-animation: main 250ms;
  animation: main 250ms;
}

.ribbon i {
  position: absolute;
}

.ribbon i:first-child,
.ribbon i:nth-child(2) {
  position: absolute;
  left: -20px;
  bottom: -20px;
  z-index: -1;
  border: 20px solid transparent;
  border-right-color: #043140;

  -webkit-animation: edge 500ms;
  -moz-animation: edge 500ms;
  -ms-animation: edge 500ms;
  animation: edge 500ms;
}

.ribbon i:nth-child(2) {
  left: auto;
  right: -20px;
  border-right-color: transparent;
  border-left-color: #043140;
}

.ribbon i:nth-child(3),
.ribbon i:last-child {
  width: 20px;
  bottom: -20px;
  left: -60px;
  z-index: -2;
  border: 30px solid #1d53c0;
  border-left-color: transparent;

  -webkit-animation: back 600ms;
  -moz-animation: back 600ms;
  -ms-animation: back 600ms;
  animation: back 600ms;

  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.ribbon i:last-child {
  bottom: -20px;
  left: auto;
  right: -60px;
  border: 30px solid #1d53c0;
  border-right-color: transparent;

  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

p {
  text-align: center;
  color: #aaa;
}

/* animations */

@-webkit-keyframes main {
  0% {
    -webkit-transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}

@-webkit-keyframes edge {
  0%,
  50% {
    -webkit-transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}

@-webkit-keyframes back {
  0%,
  75% {
    -webkit-transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}

@-moz-keyframes main {
  0% {
    -moz-transform: scaleX(0);
  }
  100% {
    -moz-transform: scaleX(1);
  }
}

@-moz-keyframes edge {
  0%,
  50% {
    -moz-transform: scaleY(0);
  }
  100% {
    -moz-transform: scaleY(1);
  }
}

@-moz-keyframes back {
  0%,
  75% {
    -moz-transform: scaleX(0);
  }
  100% {
    -moz-transform: scaleX(1);
  }
}

@keyframes main {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes edge {
  0%,
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes back {
  0%,
  75% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.collapse.in {
  display: block;
}

.problem_statement {
  background-color: #122950;
  height: auto;
  margin-bottom: 40px;
}

#ps1 {
  font-weight: 500;
  color: white;
  font-size: 22px;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
}

.contact {
  padding-top: 10%;
}
/* .flip-card-container:hover .flip-card
{
    transform: rotateY(180deg);
} */
.flip:hover .flip1 {
  transform: rotateY(180deg);
}
.card-back {
  font-size: 1.5rem;
  justify-content: center;
}

/* counter */

.counter {
  /* background-color: blue; */
  padding: 40px 0;
  /* background-color: blue; */
  /* margin-top: -45px; */
  /*display: none;*/
}

.counter #headline {
  text-align: center;
  margin-bottom: 45px;
}

.counter #countdown ul {
  display: flex;
  justify-content: center;
}

.counter #countdown ul li:not(:last-child) {
  margin-right: 60px;
}

.counter #countdown ul li {
  text-align: center;
  font-size: 20px;
}

.counter #countdown ul li span {
  /* margin-right: 8px; */
  display: block;
  font-size: 48px;
}

@media (max-width: 564px) {
  .counter #countdown ul {
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
  }

  .counter #countdown ul li:not(:last-child) {
    margin-right: 0;
  }

  .counter #countdown ul li {
    padding: 0 20px;
  }
}
